body {
    width: 600px;
}

h1 {
    font-family:
        'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
}

button {
    background-color: #4290f2;
    color: white;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    border: 1px;
}